In [1]:
# import the library and give it a shorter name 'pd'
import pandas as pd

In [2]:
# create a dataframe by hand with two columns and three rows
df = pd.DataFrame({
        'month': [1, 2, 3],
        'temperatur': [-12, 3, 9]
})

In [3]:
# print out some descriptive statistics
df.describe()

       month  temperatur
count    3.0    3.000000
mean     2.0    0.000000
std      1.0   10.816654
min      1.0  -12.000000
25%      1.5   -4.500000
50%      2.0    3.000000
75%      2.5    6.000000
max      3.0    9.000000

In [5]:
df = pd.DataFrame({
        'month': [1, 2, 3, 4, 5, 6],
        'temperatur': [-12, 3, 9, 15, 20, 23]
})

In [6]:
# print out some descriptive statistics
df.describe()

          month  temperatur
count  6.000000    6.000000
mean   3.500000    9.666667
std    1.870829   12.863385
min    1.000000  -12.000000
25%    2.250000    4.500000
50%    3.500000   12.000000
75%    4.750000   18.750000
max    6.000000   23.000000

# Welche Statistiken liefert ein Aufruf der Funktion describe()
- count: Anzahl der Einträge der jeweiligen Spalten
- mean: Mittelwert der jeweiligen Spalten
- std: 
- min: geringster Wert der jeweiligen Spalten
- 25%: Wert nach einem Viertel der Spalten
- 50%: 
- 75%: 
- max: höchster Wert der jeweiligen Spalten